*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
  }
  html, body {
    font-size: 15px;
    color: #222;
     font-family: "Quicksand", sans-serif;
    width: 100%!important;
    height: 100% !important;
  }
  
.carousel-item img {
   height:100vh;
    width: 100%;
}
.carousel-caption{
    background: rgba(11, 11, 197, .6)!important;
    position: relative;
    top: -500px;
    width:58%;
    margin: auto;
    left:-20%;
}

.carousel-caption h3{
 font-size: 4rem;
 color:yellow;
 
 
}